DATABASE_URL=postgresql://user:password@localhost:5432/panini_tracker
JWT_SECRET=changeme
NEXT_PUBLIC_API_URL=http://localhost:3001
NEXTAUTH_SECRET=changeme
NEXTAUTH_URL=http://localhost:3000
PORT=3001
ADMIN_EMAIL=admin@panini.local
ADMIN_PASSWORD=changeme123
